nav a{
    border-bottom:solid #000;
    margin-bottom:0%;
 }
 nav {
    position: fixed;
    display: flex;
    background-color: #000;
    justify-content: space-around;
    align-items: center;
   } 